<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletEliminarReserva</servlet-name>
        <servlet-class>Reserva.ServletEliminarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertarReserva</servlet-name>
        <servlet-class>Reserva.ServletInsertarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEditarReserva</servlet-name>
        <servlet-class>Reserva.ServletEditarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEliminarReserva</servlet-name>
        <url-pattern>/ServletEliminarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertarReserva</servlet-name>
        <url-pattern>/ServletInsertarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEditarReserva</servlet-name>
        <url-pattern>/ServletEditarReserva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
